<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>example.com</string>
		<key>Key</key>
		<string>domains</string>
		<key>Title</key>
		<string>Domains to Redirect</string>
		<key>Titles</key>
		<array/>
		<key>Type</key>
		<string>Group</string>
		<key>Values</key>
		<array/>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>example.com, example2.com</string>
		<key>Key</key>
		<string>domains</string>
		<key>Title</key>
		<string>Comma separated</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>things://</string>
		<key>Key</key>
		<string>scheme</string>
		<key>Title</key>
		<string>URL to open Instead</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
